<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <img class="img-logo" src="/img/logo-mercado-liebre.svg" alt="logo-Mercado-Liebre">
                </div> 
                 
                <div class="buscador">
                        <div class="input">buscar producto, marcas</div>
                        <div class="lupa"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            
            <nav>
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                   
                </ul>
                <ul>
                    <li>
                        <i class="far fa-id-card"></i><a href="/register">Creá tu cuenta</a>
                    </li>
                    <li>
                        <i class="fas fa-sign-in-alt"></i><a href="/login">Ingresá</a>
                    </li>
                    <li>
                        <i class="fas fa-shopping-basket"></i><a href="#">Mis Compras</a>
                    </li>

                </ul>
                
            </nav>  
            <div class="burguer-menu">
                <i class="fa fa-bars burger"></i>
            </div>

         </header>

         <main> 
            <div class="formIngreso">
            <input class="username" type="text" name="perfil" value="Nombre de Usuario" id="nombreDeUsuario">
            <input class="password" type="text" name="perfil" value="Elegí tu contraseña" id="contraseña">
            </div>          

            <div >
                <button class="confirmacion" type="submit">Confirmar</button>  
            </div>

         </main>

        
         <footer>
            <div class="articlefooter">
                <div class="iconos">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenes cuotas sin </p>
                <p>interes con tarjeta o efectivo en puntos de</p>
                <p>pago. !Y siempre es seguro! </p>
            </div>

            
            <div class="articlefooter">
                <div class="iconos">
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envio gratis desde los $2.500</h3>
                    <p>Solo por estar registrado en Mercado Liebre</p>
                    <p>tenes envios gratis en miles de productos.</p>
                    <p>Es un beneficio de Mercado Puntos.</p>
                    
            </div>

            
            <div class="articlefooter">
                <div class="iconos">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
                    <p>no hay nada que no puedas hacer porque</p>
                    <p>estas siempre protegid@.</p>   
            </div>

        
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
    </footer>
    </body>
    </html>